
body{
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position:relative;
}
.google{
  font-size: 28px;
  font-weight: 500;
  display: flex;
  justify-content: left;
}
.screen-profile{
  width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.all-btns{
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.profile{
  width: 100%;
  margin: 30px 30px;
  display: flex;
  gap:20px;
  justify-content: left;
  align-items: left;
  color: antiquewhite;
}

.profile-img{
  border-radius: 50%;
}

.flex-profilecontent{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.post-info{
  display: flex;
  gap: 16px;
  
}

.hyperlink{
  display: flex;
  gap: 5px;
  align-items: center;
}

.flex-atr{
 display: flex;
 gap: 3px;
 align-items: center;
}


.flex-hyperlink{
  display: flex;
  gap:30px;
  margin-top: 10px;
}

.follow{
  background-color: rgb(75, 75, 234);
}

.message-adduser{
  background-color: rgba(169, 169, 169, 0.263);
  color: antiquewhite;
}

.buttons{
  color: antiquewhite;
  border: none;
  border-radius: 10px;
  padding: 10px 140px;
  font-size: 15px;
}

.add-icon{
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
}

.sidebar{
  color: antiquewhite;
  width: 20px;
  height: 100vh;       
  display: flex; 
  flex-direction: column; 
  gap:80px;
  padding: 30px 10px;
  position: fixed;
  left:0;
  top: 0;
  margin: 10px 20px;
}

.nav2{
display: flex;
flex-direction: column; 
gap: 30px;
}

.images{
  width: 1100px;
  margin:0px auto;
  display: flex;
  gap: none;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  width: 25%;
}

.img-card{
  width:100%;
}

.page{
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  color: antiquewhite;
  align-items: center;
  margin: 10px auto;
  margin-top: 50px;
}

.Photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container{
  width: 30px;          
  height: 30px;         
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;
  margin-left: -10px; 
}

.container2{
  width: 30px;          
  height: 30px;         
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgb(47, 46, 46);
  margin-left: 0;               
  margin-right: -10px; 
  position: relative;            
  z-index: 1;
}

.People-Followed{
  display: flex;
  padding: 20px 0px;
}

.reverse{
  flex-direction: row-reverse;
}
.info-box{
  display: flex;
  gap: 10px;
  align-items: center;
}

.share-btn{
 position: fixed;
 bottom:40px;
 right: 30px;
 display: flex;
 gap: 60px;
 justify-content: center;
 align-items: center;
 background-color: rgb(47, 46, 46);
 padding: 0px 20px;
 border-radius: 36px;
}

.share-btn2{
  display: flex;
  gap:10px;
}
